<p id="notice"><%= notice %></p>

<p>
  <strong>URL:</strong>
  <%= @gist.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @gist.description %>
</p>

<p>
  <strong>User id:</strong>
  <%= @gist.user_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @gist.category_id %>
</p>

<code> <%= open(@gist.url).read %> </code>

<%= link_to 'Edit', edit_gist_path(@gist) %> |
<%= link_to 'Back', gists_path %>
